<?xml version="1.0" encoding="utf-8"?>
<packages>
	<package id="adobereader" />
	<package id="anaconda3" />
	<package id="androidstudio" />
	<package id="audacity" />
	<package id="autohotkey" />
	<package id="chocolatey" />
	<package id="cmake" />
	<package id="curl" />
	<package id="crystaldiskinfo" />
	<package id="dbeaver" />
	<package id="docker" />
	<package id="dropbox" />
	<package id="eac" />
	<package id="fastcopy" />
	<package id="foobar2000" />
	<package id="git" />
	<package id="googlechrome" />
	<package id="googlejapaneseinput" />
	<package id="gradle" />
	<package id="greenshot" />
	<package id="inkscape" />
	<package id="jre8" />
	<package id="jdk8" />
	<package id="kotlinc" />
	<package id="lhaplus" />
	<package id="maven" />
	<package id="nodejs" />
	<package id="openssh" />
	<package id="pdfxchangeeditor" />
	<package id="pdfxchangeviewer" />
	<package id="php" />
	<package id="python" />
	<package id="ruby" />
	<package id-"sdformatter" />
	<package id="slack" />
	<package id="teraterm" />
	<package id="thunderbird" />
	<package id="unity" />
	<package id="vim" />
	<package id="vlc" />
	<package id="vagrant" />
	<package id="virtualbox" />
	<package id="visualstudion2019community" />
	<package id="vscode" />
	<package id="winscp" />
	<package id="wireshark" />
</packages>
